.DS_Store
.env
.env.local
.env.production
.env.production.local
.env.docker
.env.docker.nas
.git
.github
.next
coverage
node_modules
reports
tmp
var
*.log
*.pid
dist
Dockerfile*
docker-compose*.yml
!Dockerfile
!Dockerfile.prod
!docker-compose.yml
!docker-compose.nas.yml
!docker-compose.prod.yml
!.env.example
!.env.docker.example
!.env.docker.nas.example
